.section {
  text-align: center;
}

.mantis { background-color: rgb(116, 201, 103); }
.turquoise { background-color: rgb(93, 194, 215); }
.pink { background-color: rgb(247, 130, 185); }
.candyPink { background-color: rgb(233, 120, 119); }

.logo {
  width: 70px;
  height: 58px;
  margin: 33px 0 10px;
  display: inline-block;
}

.logo span {
  display: block;
  margin: 0 auto 2px;
  height: 13px;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
}

.bl1 {
  width: 63px;
}

.bl3 {
  width: 62px;
}

.bl4 {
  width: 48px;
}